{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "MyConnection": "Server=(localdb)\\MyLocalDb; DataBase =; User Id=; Password =; Encrypt = false; "
  },

  "AllowedHosts": "*"
}
